<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<div class="container cont " >
    <h6 class="display-6 text-center" >Add Your Payment Info</h6>
        <form  action="/products" method="POST" class="form validate-form" novalidate>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Product Name" name="product[name]" required >
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter name.
              </div>
            </div>
            <div class="mb-3">
                <label for="img" class="form-label">Image URL</label>
                <input type="text" class="form-control" id="img" placeholder="Image URL" name="product[img]" required >
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please choose image URL.
                </div>
              </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price in &#8377;</label>
              <input type="number" class="form-control" id="price" placeholder="Price" name="product[price]" required >
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter price.
              </div>
            </div>
        
            <div class="mb-3" >
                <label for="desc" class="form-label" >Description</label>
                <textarea id="desc" cols="30" rows="6" class="form-control" name="product[desc]" required ></textarea>
                <div class="valid-feedback">
                  Looks good!
                </div>
            </div>
            
            <button type="submit" class="btn form-btn">Submit</button>
          </form>
    
</div>
  


<%- include("../partials/footer") %>

