    <%- include("./partials/header") %>
    <%- include("./partials/navbar") %>

    <div class="container " style="padding-top: 10rem;"  >
        <%- include("./partials/flash") %>
        <h1>This is error page</h1>
    </div>
   

    <!-- <%- include("./partials/footer") %> -->