
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,bodY{
        
        min-width: 300px;
        
        overflow-x: hidden;
        top: 0;
        left: 0;    
    }


    #heading {
        width: 98%;
        background-color: #e9ecef;
        padding: 10px;
        margin: 10px auto;
        border-radius: 10px;
    }

    
    .cont{
        padding: 7.5rem 2rem 4rem !important;
    }



      /* -------------------------------------- Navbar Styling -------------------------------------- */

      .navbar{

        font-family: 'Poppins', sans-serif;
        padding: 0 1rem;
        min-height: 12vh;
        background: white;
        box-shadow: 0 2px 4px lightgray;
        box-sizing: border-box;
        
    }

    .navbar a{
        text-decoration: none;
        color: rgba(34,54,69,.7);
        font-weight: 500;
    }

    .navbar a:hover{
        color: #0077b6 ;
    }

    .navbar ul{
        list-style: none;
    }

    .navbar .navbar-brand{
        font-family: 'Pacifico', cursive;
        font-size: 2.2rem;
        color: #0077b6 ;
    }

    .navbar .navbar-brand:hover{
        color: #01497c   ;
    }

    .navbar-toggler{
        background: #0077b6 ;
        border: none;
        padding: 12px 12px;
        outline: none;
        box-shadow: none !important ;
    }

    .navbar-toggler-icon{
        width: 22px;
        height: 2px;
        border: 1px;
        background: #fff;
        display: block;
    }

    .navbar-toggler-icon:nth-of-type(2){
        margin-top: 6px;
    }

    .navbar-toggler-icon:nth-of-type(3){
        margin-top: 6px; 
    }

    .navbar-expand-lg .navbar-nav .nav-item1{
        max-width: 95px;
    }

    .navbar-expand-lg .navbar-nav .nav-item2{
        max-width: 125px;
    }

    .navbar-expand-lg .navbar-nav .nav-item3{
        max-width: 75px;
    }

    .navbar-expand-lg .navbar-nav .nav-item4{
        max-width: 80px;
       
    }

    .navbar-expand-lg .navbar-nav .nav-item5{
        max-width: 400px;
    }

    .navbar-expand-lg .navbar-nav .initial{
        padding: 0;
        margin: 0.3rem 0.8rem;
        font-size: 1.3rem;
        transition: 0.2s ease-in-out;
    }

    .navbar-expand-lg .navbar-nav .initial:hover{
        border-bottom: 3px solid #0077b6 ;
    }

    .navbar-expand-lg .navbar-nav .shop-cart{
        padding: 0.5rem 0;
        margin: 0.3rem 0.8rem;
        font-size: 1.3rem;
        transition: 0.2s ease-in-out;
    }

    .navbar-expand-lg .navbar-nav .shop-cart:hover{
        border-bottom: 3px solid #0077b6 ;
    }

    .login-logout{
        max-width: 250px;
    }

    .navbar-expand-lg .navbar-nav .special1{
        width:80%;
        background: #0077b6 ;
        color: white;
        padding: 0.4rem 1.6rem;
        font-size: 1.1rem;
        margin: 0.5rem 0.8rem;
        text-align: center;
    }

    .navbar-expand-lg .navbar-nav .special1:hover{
        background:#0b496d;
    }


    .navbar-expand-lg .navbar-nav .special2{
        width: 80%;
        border: 3px solid #0077b6 ;
        color: #0077b6  ;
        padding: 0.2rem 1rem;
        font-size: 1.1rem; 
        margin: 0.5rem 0.8rem;
        text-align: center;
    }

    .navbar-expand-lg .navbar-nav .special3{
        font-size: 1.3rem;
        text-align: left;
        max-width: 150px;
        margin: 0.3rem 0.8rem;
        color: #0077b6 ;
    }

    .navbar-expand-lg .navbar-nav .special2:hover{
        background: #0b496d ;
        border: 3px solid #0b496d ;
        color: white  ;
    }


    /*---------------------------------------------- SignUp Styling-------------------------------------- */

    .signup-header .signup-head-para{
        font-size: 1.2rem;
        font-weight: 600;
    }

    .login-header .login-head-para{
        font-size: 1.2rem;
        font-weight: 600;
    }

    .welcome-heading{
        color: #0077b6;
        text-align: start;
        padding: 0.8rem 0.1rem;
    }


    .sign-in-btn{
        color: #0077b6 ;
        text-decoration: none;
        padding: 0.2rem 0.3rem;
        font-size: 1.1rem;
        font-weight: 600;
    }

    .sign-in-btn:hover{
        border-bottom: 2px solid grey;
        font-weight: normal;
        color: grey;
    }


    /* --------------------------------- Landing Page ------------------------------- */

    .initial-container{
        background-image: url('/images/landing1.jpg');
        width: 100vw;
        height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .initial-container .container{
        margin: 40px auto;
        width: 50%;
        color: white;

    }

    .initial-container .container h1{

        font-size: 4rem;
        font-family: 'poppins';
    }

    .initial-container .container p{

        font-size: 1.2rem;
        padding-top: 0.9rem;
        font-family: 'poppins';
    }

    .initial-container .container .view-product-btn{
    background: white;
    border-radius: 0;
    color: #0077b6;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.6rem 1.5rem;
    margin: 10px auto;
    }

    .initial-container .container .view-product-btn:hover{
        background:#0b496d ;
        color: white;
    }

    .initial-container .container .sign-in-btn{
        color: white;
        text-decoration: none;
        padding: 0.2rem 0.5rem;
        font-weight: 500;
    }

    .initial-container .container .sign-in-btn:hover{
        border-bottom: 2px solid white;
        font-weight: normal;
    }


    /* Features Section */

    #features {
        font-family: 'poppins';
        padding: 3rem 4rem;
    }

    #features .features-heading{
        text-align: center;
        margin-bottom: 3rem;
        font-size: 3.5rem;  
        color: #003c46 ;
    }

    #features .feature-box i{
        color: #0077b6 ;
        transition: 0.2s;
    }

    #features .feature-box i:hover{
        color: #0b496d ;
        transform: translateY(-1rem);
    }

    #features .feature-box p{
        color: rgba(34,54,69,.7) ;
    }

    .about{
        margin: 1rem auto;
        padding: 2rem;
    }

    .about .inner-heading{
        font-size: 3rem;
        line-height: 1.2;
        margin: 1.5rem 0;
    }

    .about .cart-img{
        /* width: 80%;
        height: 90%; */
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .about .center{
        display: flex; 
        justify-content: center; 
        align-items: center ;
    }

    /* ------------------------------------ Media queries for Landing Page ---------------------------------- */

    @media all and (max-width:1071px){
        .initial-container .container h1{
            font-size: 3rem;
        }
        .initial-container .container p{
            font-size: 1.1rem;
        }
        .navbar .navbar-brand{
            font-size: 1.7rem !important ;
        }
        .navbar{
            padding: 0 3rem !important ;
        }
    }

    @media all and (max-width: 900px){
        .initial-container .container{
            width: 65%;
        }
    }

    @media all and (max-width: 850px){
        .initial-container .container{
            width: 60%;
        }

        .initial-container .container .view-product-btn{

            font-size: 0.9rem;
            padding: 0.5rem 1.3rem;
        }
        
    }

    @media all and (max-width: 700px){
        .initial-container .container{
            width: 70%;
        }
        .initial-container .container h1{
            font-size: 2.5rem;
        }
        .initial-container .container p{
            font-size: 0.9rem;
        }
    }


    @media all and (max-width: 630px){
        .initial-container .container{
            width: 80%;
        }

        .navbar .navbar-brand{
            font-size: 1.7rem !important;
        }

        

        .initial-container .container .view-product-btn{

            font-size: 0.8rem;
            padding: 0.4rem 1.2rem;
        }
    }

    @media all and (max-width:480px){
        .initial-container .container{
            width: 100%;
        }
        .navbar{
            padding: 0rem !important;
        }
    }

    
  

    /* ----------------------------------------------- Card Styling ---------------------------------------------------- */

    .col-width{
        max-width: 400px;
        margin: 10px auto;
    }

    .card{
        border: none;
    }

    .card:hover{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .card img{
        padding: 0.5rem;
        height: 220px;
        width: 100%;
        background-size: cover;
        background: scroll centre scroll ;
        transform: scale(1);
        transition: 0.2s ease-in-out;
        overflow: hidden;
        max-width: 300px;
    }

    .card img:hover{
        transform: scale(1.1);
        cursor: pointer;
    }

    figure{
        overflow: hidden;
    }

    .btn{
        border-radius: 0;
        box-shadow: none !important;
    }

    .card .card-body .more-info{
        background: #0077b6 ;
        color: white;
    }

    .card .card-body .more-info:hover{
        background: #01497c ;
    }

    /* @media (max-width: 375px) {
        .card {
        width: 21rem;
        }
    }
    
    @media (min-width: 375px) {
        .card {
        width: 27rem;
        }
    }
    */

    .form {
        max-width: 530px;
        margin: 40px auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 2rem ;
        border-radius: 15px;
    }

    .form-btn {
        border: 1px solid #0077b6 ;
        color: #0077b6;
        padding: 0.6rem 1.4rem;
        font-size: 1.2rem;
        margin: 1.5rem 0 0.2rem;
        width: 100%;
        border-radius: 10px;
    }

    .form-btn:hover{
        background: #0077b6 ;
        color: white;
    }

    .delForm{
        display: inline-block;
    }

    textarea:hover, 
    input:hover, 
    textarea:active, 
    input:active, 
    textarea:focus, 
    input:focus
    {
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
        border: 1px solid gray;
    }

    input[type="range"]:focus,input[type="range"]:hover{
        border : none !important ;
    }


    /* Footer Section */

    .footer{
        background: #0077b6;
        padding: 2rem;
    }

    
    .footer .box-container{
        display: flex;
        flex-wrap: wrap;
        
    }

    .footer .box-container .box{
        padding: 2rem 0;
        flex: 1 1 25rem;
        
    }

    .footer .box-container .box h3{
        font-size: 2rem;
        padding: 0.7rem 0;
        color: #fff;
        
    }

    .footer .box-container .box p{
        font-size: 1.1rem;
        padding: 0.7rem 0;
        color: #fff;
        
    }

    .footer .box-container .box a{
        display: block;
        font-size: 1.1rem;
        padding: 0.7rem 0;
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
       
        max-width: 250px;
        min-width: 150px;
       
    }

    .footer .box-container .box a:hover{
        color: #fff;
        text-decoration: underline;
        transform: translateX(15px);
        

    }

   

    .footer .credit{
        text-align: center;
        padding: 2.3rem 1rem 0.2rem;
        font-size: 1.3rem;
        font-weight: normal;
        border-top: .1rem solid rgba(255,255,255,.2);
        margin-top: 2rem;
    }


    /* Shopping Cart */

    .shopping-cart .shopping-cart-heading i:hover{
            color: #0077b6;
    }


    .shopping-cart .card .card-body i:hover{
        color: #0077b6;
         cursor: pointer;
    }

    .shopping-cart .list-group .list-group-item span{
        position: absolute;
        right: 10px;
    }
    
    .shopping-cart .list-group a{
        background: #0077b6 ;
        color: #fff;
        text-align: left;
        padding: 0.8rem ;
        border-radius: 5px;
    }

    .shopping-cart .list-group a:hover{
        background: #01497c ;
    }
