<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<main  >
  <div class="initial-container cont" >

      <div class="container" > 
          <h1 >Plan that Scale As You Grow</h1>
          <p >Shopping carts bridge the gap between shopping and buying, so having the best shopping cart software is extremely important on your website.</p>
          <p >You can checkout the products.</p>
          <a href="/products" class="btn view-product-btn " >View Products</a>
          <p >Already using ? <a class="sign-in-btn" href="/login">Sign In</a></p>
      </div>

  </div>

  <section id="features">

      <div class="container">

          <h1 class="features-heading" >
              Features
          </h1>

        <div class="row">
          <div class="feature-box col-lg-4 col-md-12 text-center p-4 ">
            <i class="icon fas fa-check-circle fa-4x mb-4 "></i>
            <h3 class="feature-title">User Authentication</h3>
            <p>Only certain users can have access on CRUD functionality.</p>
          </div>

          <div class="feature-box col-lg-4 col-md-12 text-center p-4 ">
            <i class="icon fas fa-bullseye fa-4x mb-4 "></i>
            <h3 class="feature-title">CRUD</h3>
            <p>CRUD operations on Products .</p>
          </div>

          <div class="feature-box col-lg-4 col-md-12 text-center p-4 ">
            <i class="icon fas fa-heart fa-4x mb-4 "></i>
            <h3 class="feature-title">Review</h3>
            <p>User can review Products with comments.</p>
          </div>
        </div>


      </div>
    </section>

    <section class=" about container bg-light"  id="about-us">

        <h1 class="text-center pt-5 mb-2" style="font-size: 3.5rem;" >About Carts</h1>

          <div class="row my-5" >

                <div class="col-lg-6 p-5 center" >
                  <img src="/images/cart1.jpg" class="cart-img img-fluid " alt="cart1" >
                </div>

                <div class="col-lg-6 p-5 center" >

                    <div class="content-container"  >
                      <h1 class="inner-heading" >Hosted Shopping Carts</h1>
                      <p>
                        A third-party firm "hosts" the solution and is responsible for server backups, maintenance and upgrades. The beauty of a hosted solution is that hosting comes free, which means it doesn't cost anything for the third party to keep your site functional on the Web. The main drawback with hosted solutions is that customers will be directed to another domain for payment processing.
                      </p>
                    </div>
                    
                </div>

          </div>


          <hr style="width: 5%; border: dotted grey 6px ; border-bottom: none; background: white; margin: 5px auto;" >


          <div class="row my-5 " >
            

                  <div class="col-lg-6 p-5 center"  >

                      <div class="content-container "   >
                          <h1 class="inner-heading" >Design</h1>
                          <p>
                            Most modern shopping carts are made of metal or a combination of metal and plastic and have been designed to nest within each other in a line to facilitate collecting and moving many at one time and also to save on storage space. The carts can come in many sizes, with larger ones able to carry a child. There are also specialized carts designed for two children, and electric mobility scooters with baskets designed for individuals with disabilities.
                          </p>
                      </div>  
          
                  </div> 

                    
                  <div class="col-lg-6 p-5 center" >
                    <img src="/images/cart2.jpg" class="cart-img img-fluid " alt="cart1" >
                  </div>

          </div>

    </section>


</main>

<%- include("../partials/footer") %>